.secondInput {
    display: flex;
    justify-content: space-between;
}

.firstInput {
    display: flex;
    justify-content: space-between;
}

.emailInput {
    width: auto;
}

.passwordInput {
    width: auto;
}

.inputForm {
    margin-top: 5vh;
    padding: 1em;
}

button {
    height: 5vh;
}

.buzzerComponent {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}