button.admin{
    width: 50%;
    align-self: center;
    align-items: center;
    display: flex;
    color: white;
    text-align: center;
    background-color: rgb(28, 194, 28);
    margin-left: 5px;
}

div.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

h4.team {
    text-align: center;
}

h3.winner {
    margin:auto;
}

.mom {
    width: 100%; /* Try setting this to 400px or something */
    display: table;
}
.child {
    display: table-cell;
}