.secondInput {
    display: flex;
    justify-content: space-between;
}

.firstInput {
    display: flex;
    justify-content: space-between;
} 

.emailInput1 {
    width: 320px;
    height: 32px;
    border-radius: 5px;
    outline: none;
    background-color: #C4C4C4;
    border-color: rgba(0,0,0,0);
    margin-bottom: 3em;
}

.passwordInput1 {
    width: 320px;
    height: 32px;
    border-radius: 5px;
    outline: none;
    background-color: #C4C4C4;
    border-color: rgba(0,0,0,0);
}

.emailInput1 {
    width:100vw;
}

.passwordInput1 {
    width: auto;
}

.inputForm {
    margin-top: 5vh;
    padding: 1em;
}

button {
    height: 5vh;
}

.buzzerComponent {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select{
    
}