.buzzerinactive {
	background-color: #FF3737;
	display: flex;
	align-items: center;
	width: 160px;
	height: 160px;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	border-radius: 10%;
	padding: 25px;
	margin: auto;
	color: white;
	font-weight: bold;
}

.buzzerunfilled {
	background-color:rgb(236, 236, 16);
	display: flex;
	align-items: center;
	width: 160px;
	height: 160px;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	border-radius: 10%;
	padding: 25px;
	margin: auto;
	color: white;
	font-weight: bold;
}


.buzzer {
	background-color: #00E82E;
	display: flex;
	align-items: center;
	width: 160px;
	height: 160px;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	border-radius: 10%;
	padding: 25px;
	margin: auto;
	color: white;
	font-weight: bold;
}

.buzzer span {
	color: white;
	
}

.buzzer::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.buzzer::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
} 