@media screen and (max-width: 600px) {
    .resultSection {
        padding: 1em;
    }
    
    .selectionTabs {
        display: flex;
        justify-content: space-between;
        width: 250px;
    }

    .pcontainer {
        width: 40vh;
        height: 50vh;
        padding: 1.5em;
        background-color: #ffffff;
        overflow-y: auto;
    }
    
    .pcontainer>h5 {
        font-weight: 500;
    }
    
    .selectionTabs>button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        background-color: #F6F6F6;
        border-radius: 5px;
        border: #00000000 solid 1px;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
    }
    
    .selectionTabs>button:active{
        border: #000000 solid 1px;
    }
    
    .searchEventBar {
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #ECECEC;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width:370px !important;
        height: 40px;
        border-radius: 5px;
        font-size: 17px;
    }
    
    .eventDate {
        background-color: #E2E2E2;
        padding: 0.7em;
        border-radius: 5px;
        color: #737373;
        font-weight: 500;
        margin-right: 0.2em;
    }

    .spinnerArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50vh;
    }

    .spinner {
        width: 100px;
        height: 100px;
        position: relative;
      }
      .spinner div {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 8px solid transparent;
        border-top-color: #25CA46;
        border-radius: 50%;
        animation: spinnerOne 1.2s linear infinite;
      }
      .spinner div:nth-child(2) {
        border: 8px solid transparent;
        border-bottom-color: #25CA46;
        animation: spinnerTwo 1.2s linear infinite;
      }
      
      @keyframes spinnerOne {
        0% { transform: rotate(0deg); border-width: 10px; }
        50% { transform: rotate(180deg); border-width: 1px; }
        100% { transform: rotate(360deg); border-width: 10px; }
      }
      @keyframes spinnerTwo {
        0% { transform: rotate(0deg); border-width: 1px; }
        50% { transform: rotate(180deg); border-width: 10px; }
        100% { transform: rotate(360deg); border-width: 1px; }
      }
    
}

@media screen and (min-width: 900px) {

    .searchContainer {
        display: flex;
        justify-content: space-between;
    }

    .spinnerArea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40vh;
    }
    
    .spinner {
        width: 100px;
        height: 100px;
        position: relative;
      }
      .spinner div {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 8px solid transparent;
        border-top-color: #25CA46;
        border-radius: 50%;
        animation: spinnerOne 1.2s linear infinite;
      }
      .spinner div:nth-child(2) {
        border: 8px solid transparent;
        border-bottom-color: #25CA46;
        animation: spinnerTwo 1.2s linear infinite;
      }
      
      @keyframes spinnerOne {
        0% { transform: rotate(0deg); border-width: 10px; }
        50% { transform: rotate(180deg); border-width: 1px; }
        100% { transform: rotate(360deg); border-width: 10px; }
      }
      @keyframes spinnerTwo {
        0% { transform: rotate(0deg); border-width: 1px; }
        50% { transform: rotate(180deg); border-width: 10px; }
        100% { transform: rotate(360deg); border-width: 1px; }
      }
    .resultSection {
        padding: 1em;
    }
    
    .selectionTabs {
        display: flex;
        justify-content: space-between;
        width: 250px;
    }
    
    .selectionTabs>button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        background-color: #F6F6F6;
        border-radius: 5px;
        border: #00000000 solid 1px;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
    }
    
    .selectionTabs>button:active{
        border: #000000 solid 1px;
    }
    
    .searchEventBar {
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #ECECEC;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 661px;
        height: 40px;
        border-radius: 5px;
    }
    
    .eventDate {
        background-color: #E2E2E2;
        padding: 0.7em;
        border-radius: 5px;
        color: #737373;
        font-weight: 500;
        margin-right: 0.2em;
    }

    .addEvent {
        width: 7em;
        height: 3em;
        border-radius: 5px;
    }
    
    
}

